/* Estilos gerais para o corpo do documento */
body {
    font-family: 'Roboto', Arial, sans-serif;
    /* Define a família de fonte */
    margin: 0;
    /* Remove margens padrão */
    padding: 0;
    /* Remove padding padrão */
    background-color: #1F1F1F;
    /* Cor de fundo */
    color: #fff;
    /* Cor do texto */
    line-height: 1.5;
    /* Altura da linha do texto */
}

/* Fonte Letras Breaking Bad */
@font-face {
    font-family: 'HeartBreakingBadFont';
    src: url('fonts/HeartBreakingBadFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.titulo-principal {
    font-family: 'HeartBreakingBadFont', sans-serif;
    font-size: 80px;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho */
header {
    background-color: #1F1F1F;
    padding: 4px 4px;
    text-align: center;
    color: #b3ff00;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid #b3ff00;
}

/* Estilo da imagem do cabeçalho */
.header-image {
    width: 80%;
    height: 50vh;
    /* Define a altura como 50% da altura da viewport */
    object-fit: cover;
    /* Faz a imagem cobrir todo o espaço do contêiner */
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    /* Borda arredondada */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    /* Sombra da imagem */
}

/* Estilos para transições em links do cabeçalho, navegação e post */
header a,
nav a,
.post a {
    transition: color 0.3s, background-color 0.3s;
}

/* Hover effect for header links */
header a:hover {
    color: #b3ff00;
}

/* Estilos para a navegação */
nav {
    background-color: #012006;
    padding: 10px 0;
    text-align: center;
    font-size: 1.4em;
    position: sticky;
    /* Fixa a navegação no topo */
    top: 0;
    z-index: 1000;
    /* Garante que o nav esteja sempre no topo */
    box-shadow: 0 8px 16px rgba(11, 94, 0, 0.993);
}

nav a {
    color: #b3ff00;
    margin: 0 20px;
    text-decoration: none;
    /* Remove o sublinhado padrão dos links */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Efeitos de hover e foco para os links de navegação */
nav a:hover,
nav a:focus,
nav a:active {
    background-color: #b3ff00;
    color: #333;
}

/* Estilos para o contêiner de personagens */
.characters-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que os itens quebrem para a próxima linha */
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1600px;
    padding: 25px;
}

/* Estilos para cada personagem */
.character {
    flex-basis: calc(50% - 40px);
    /* Define a base de tamanho para cada item */
    box-sizing: border-box;
    /* Inclui padding e border no tamanho total do elemento */
    margin: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra do box */
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Efeito hover para o personagem */
.character:hover {
    transform: translateY(-10px);
    /* Move o elemento para cima no hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para imagem do personagem */
.character img {
    width: 80px;
    height: auto;
    border-radius: 50%;
    /* Transforma a imagem em um círculo */
    margin-right: 15px;
}

/* Estilo para a info do personagem (nome, descrição) */
.character-info {
    display: flex;
    /* Organiza os elementos em uma linha */
    align-items: center;
    /* Alinha os elementos verticalmente no centro */
}

/* Estilos de cor para títulos e parágrafos */
h2,
p,
aside h3,
.post h2,
.post p {
    color: #b3ff00;
}

/* Estilos para a seção aside */
aside {
    background-color: #333;
    padding: 10px 20px;
    border-radius: 30px;
    width: 390px;
    margin-right: 20px;
    margin-left: 35px;
    box-shadow: 0 8px 16px rgba(11, 94, 0, 0.993);
    border: 2px solid #b3ff00;
    clear: both;
    /* Força o aside a ficar abaixo de qualquer elemento flutuante */
}

/* Estilos para os links dentro da seção aside */
aside ul li a {
    color: #4ccf6d;
    text-decoration: none;
    /* Remove o sublinhado padrão dos links */
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    /* Borda arredondada nos links */
    transition: background-color 0.3s, color 0.3s;
    background: rgba(0, 0, 0, 0.1);
}

/* Efeito hover e foco para os links do aside */
aside ul li a:hover,
aside ul li a:focus {
    background-color: #4ccf6d;
    color: #1F1F1F;
    text-decoration: underline;
}

/* icons do aside */
aside a img {
    margin-right: 5px;
    vertical-align: middle;
    /* Alinha verticalmente as imagens com o texto */
}

/* Estilos para os posts */
.post {
    background-color: #1E1E1E;
    padding: 40px;
    margin-bottom: 40px;
    border: 1px solid #b3ff00;
    border-radius: 35px;
    margin: 20px 40px 40px;
    box-shadow: 0 8px 16px rgba(11, 94, 0, 0.993);
}

/* Estilo para os parágrafos dos posts */
.post p {
    color: #ddd;
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Estilo para os links dos posts */
.post a {
    color: #000000;
    text-decoration: none;
    /* Remove o sublinhado padrão dos links */
    background-color: #98b94a;
    padding: 8px 12px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

/* Efeito hover para os links dos posts */
.post a:hover {
    background-color: #333;
    color: #b3ff00;
}

/* Estilos para a seção de episódios */
.episode {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    transition: background-color 0.3s;
    display: flex;
    /* Organiza os elementos em uma coluna */
    flex-direction: column;
    /* Direção da coluna flex */
    align-items: center;
    border: 3px solid #b3ff00;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
}

/* Efeito hover para a seção de episódios */
.episode:hover {
    background-color: #444;
}

/* Estilo para imagens da seção de episódios */
.episode img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* Estilos para a seção de produtos */
.product {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}

/* Estilo para o título dos produtos */
.product h2 {
    margin-bottom: 20px;
    border-bottom: 2px solid #b3ff00;
    padding-bottom: 10px;
}

/* Estilos para o item do carrinho */
.cart-item {
    background-color: #1F1F1F;
    border: 1px solid #b3ff00;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo para a imagem do item do carrinho */
.cart-item img {
    max-width: 70px;
    margin-right: 20px;
}

/* Estilo para o parágrafo do item do carrinho */
.cart-item p {
    flex: 1;
    margin: 0 10px;
}

/* Estilo para o botão de compra */
.btn-buy {
    background-color: #b3ff00;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Efeito hover para o botão de compra */
.btn-buy:hover {
    background-color: #4ccf6d;
}

/* Estilos para o rodapé */
.footer {
    background-color: #1F1F1F;
    padding: 20px;
    text-align: center;
    color: #b3ff00;
    position: absolute;
    /* Fixa o rodapé na parte inferior da página */
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

/* Estilo para ícones de link */
.link-icon {
    width: 24px;
    height: 24px;
}

/* Estilo geral para links */
a {
    color: aqua;
}

/* Estilos de mídia para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
    aside {
        float: none;
        width: 100%;
        margin: 20px 0;
        padding: 10px 5px;
    }

    .character {
        flex-basis: 100%;
        margin: 10px 0;
    }

    .characters-container {
        padding: 15px;
    }

    nav a {
        margin: 0 10px;
        font-size: 0.8em;
    }

    header {
        font-size: 1.2em;
    }

    p,
    aside h3,
    .character-info {
        font-size: 0.9em;
    }

    h2 {
        font-size: 1.3em;
    }

    .back-to-top {
        display: none;
        /* inicia escondido */
        position: fixed;
        /* posição fixa no viewport */
        bottom: 20px;
        /* 20 pixels do fundo da tela */
        right: 20px;
        /* 20 pixels do lado direito da tela */
        background-color: #b3ff00;
        /* cor de fundo verde claro, semelhante a outros elementos do seu design */
        color: #333;
        /* cor do texto */
        padding: 10px 15px;
        /* espaçamento interno */
        border-radius: 50%;
        /* borda arredondada */
        cursor: pointer;
        /* muda o cursor para indicar clicabilidade */
        font-size: 2em;
        /* tamanho do ícone */
        z-index: 1010;
        /* para garantir que fique acima de outros elementos */
        opacity: 0.8;
        /* ligeiramente transparente */
        transition: opacity 0.3s;
        /* transição suave para a opacidade */
    }

    .back-to-top:hover {
        opacity: 1;
        /* torna-se totalmente opaco quando o mouse passa por cima */
    }
}

/* botao Back-To-Top Desktop */
.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b3ff00;
    color: #333;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    z-index: 1010;
    opacity: 0.8;
    transition: opacity 0.3s;

}

.back-to-top:hover {
    opacity: 1;
    /* torna-se totalmente opaco quando o mouse passa por cima */
}